/**
 * Colorful classes
 */

.success { 
  color: hsl(122, 39%, 49%);
}

.alert { 
  color: hsl(4, 90%, 58%);
}

.secondary { 
  color: hsl(0, 0%, 62%);
}

.warning { 
  color: hsl(54, 100%, 62%);
}

.info { 
  color: hsl(207, 90%, 54%);
}